@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
  background: #BCA9F5;
  font-family: 'Play', sans-serif;
  font-size: 30px;
  margin: 0;
  padding: 0;
}